@model Slider
@{
    ViewData["Title"] = "Detail";
}

    <div class="row">
        <img src="~/image/slider/@Model.Image" width="25%" alt="Alternate Text" />
    </div>
    <div class="row">
        <a asp-action="Index" class="btn btn-danger">go back</a>
    </div>

